body {
    background-image: url('../../../../public/images/main_backgroud.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}